.container {
  display: flex;  
  flex-flow: row wrap;
  font-weight: normal;
  text-align: left;
}

.container > * {
  padding: 5px;
  flex: auto;
}

.header {
  background: deepskyblue;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  text-align: left;
  padding: 5px;
  display: inline-block;
}
.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}


.poster {
    background: white;
    width: 15vw; 
    justify-content: center;
}

 .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .field_with_errors input{
    border: 1px solid red !important;
  }
  