

<center><%= image_tag("theater.jpg", :alt => "Empty Theater", size: "606x332") %></center>

<h2><center>Welcome to Cinophile!</center></h2>
<h3><center>A resource for movie information and reviews from people like you!</center></h3>
<h3><center>Create your own watchlists to decide what to watch next!</center></h3>
